/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin: 0;
  padding: 0;
  background-color: #FA9AFF;

}
.container {
  max-width: 1120px;
  margin: 10px auto;

}
.header {
  margin-bottom: 50px;
  text-align: center;
  font-style: bolder;
  font-size: 50px;
  font-family:'Ewert', cursive;
}
.display {
  width: 120px;
  height: 350px;
  text-align: right;

  #giffy{
    float: left;
  }
}


.guessed {
  font-size: 50px;
  text-align: right;

    #guessed-info {
    font-family: 'Knewave', cursive;
    }

    #guessed-letters {
      font-size: 40px;
      color: red;
    }
    #actual-answer {
      font-weight: lighter;
      margin-top: 25px;
      font-family: 'Permanent Marker', cursive;
    }
}

.disp-Cont{
  text-align: left;
  margin-top: 20px;
  .answer-spaces {
    font-size: 60px;
    font-style: bold;
  }
  #answer-space {
    letter-spacing: 15px;
    font-family: 'Knewave', cursive;
  }
}

.trials {
    margin-top: 10px;
    text-align: right;
    font-size: 60px;

    #trial-num {
      display: inline-block;
      font-family: 'Knewave', cursive;
    }
    #trials-left {
      font-size: 60px;
      margin-top: 20px;
      display: inline-block;
      font-family: 'Knewave', cursive;
    }
}


.letters {
  margin-top: 30px;

   button {
    width: 37.6px;
    height: 40px;
    background-color: #6C984F;
    color: #3D2C22;
    border-radius: 35%;
    font-weight: bold;
  }
}
