body{
  margin: 0;
  padding: 0
}
.container{
  max-width: 1120px;
  margin: 10px auto;
}
.header {
  margin-bottom: 10px;
  text-align: center;
  font-style: bolder;
  font-size: 50px;
}
.letters{
  /*margin-left: 90px;*/
  margin-top: 30px;
}
.letters button {
  width: 37.6px;
  height: 40px;
  background-color: green;
  color: red;
}

.display {
  width: 120px;
  height: 350px;
  background-color: green;
  text-align: right;
}
#display_words {
  font-size: 30px;
  text-align: center;
  padding-right: 3px;
  padding-left: 3px;
  letter-spacing: 10px;
}
.disp-Cont{
  text-align: left;
  margin-top: 20px;

}
.answer-spaces {
  font-size: 60px;
  font-style: bold;

}
#answer-space {
  letter-spacing: 15px;
}
.trials {
  margin-top: 20px;
  text-align: right;
  font-size: 60px;
}
#trials-left {
  font-size: 60px;
  margin-top: 20px;

}
